{{> modal_clientes }}

<br>
<br>

<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading ">
                <h4>Cliente
                    <button type="button" class="btn btn-success btn-circle btn-xs" data-toggle="modal"
                            data-target="#{{ modal_id }}">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <span class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-caret-down" style="color: black;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Opção 1</a>
                            </li>
                            <li>
                                <a href="#">Etcs</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash"></i> Delete</a>

                            </li>
                        </ul>
                    </span><!-- /.dropdown -->
                </h4>
            </div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Nome</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <p>{{cliente.clinom}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Web</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <a class="dont-break-out" href="http://{{cliente.cliwww}}">{{cliente.cliwww}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Email</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <a class="dont-break-out" href="mailto:{{cliente.clitlx}}">{{cliente.clitlx}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Telefone</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <p>{{cliente.clitel}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h4>Localização</h4>
            </div>
            <div class="panel-body embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        width="600"
                        height="400"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8G1i2Hwt_PIhC7LtRnBWQolyXhPbtjZE
    &q={{map_address}}" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h4>Contratos</h4>
            </div>
            <div class="panel-body">
                <img src="../img/Tabela.PNG" width="100%"/>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-default panel-primary">
            <div class="panel-heading">
                <h4>Propostas</h4>
            </div>
            <div class="panel-body">
                <img src="../img/Grafico.PNG" width="100%"/>
            </div>
        </div>
    </div>
</div>

