{{> modal_clientes }}
{{> modal_dialog }}
<div class="row">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li class="active">{{cliente.clinum}}</li>
    </ul>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">

        <div class="panel panel-primary">
            <div class="panel-heading panel-heading-audaxys" style="min-height: 70px">
                <h4>Cliente
                    <button type="button" class="btn btn-success btn-circle btn-xs" data-toggle="modal"
                            data-target="#{{ modal_id }}">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <span class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-caret-down" style="color: black;"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Opção 1</a>
                            </li>
                            <li>
                                <a href="#">Etcs</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="deleteCliente();"><i class="fa fa-trash"></i> Delete</a>

                            </li>
                        </ul>
                    </span><!-- /.dropdown -->
                </h4>
            </div>
            <div class="panel-body " >
                <div class="container-fluid" style="min-height: 100%">
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Nome</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <p>{{cliente.clinom}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Web</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                            <a class="dont-break-out" href="http://{{cliente.cliwww}}">{{cliente.cliwww}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Email</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <a class="dont-break-out" href="mailto:{{cliente.clitlx}}">{{cliente.clitlx}}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <p><strong>Telefone</strong></p>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <p>{{cliente.clitel}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-primary ">
            <div class="panel-heading panel-heading-audaxys" style="min-height: 71px">
                <h4>Localização</h4>
            </div>
            <div class="panel-body embed-responsive embed-responsive-16by9" >
                <iframe class="embed-responsive-item"
                        width="600"
                        height="400"
                        frameborder="0" style="..."
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8G1i2Hwt_PIhC7LtRnBWQolyXhPbtjZE&q={{map_address}}" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-heading-audaxys" >
                <h4>Contratos</h4>
            </div>
            <div class="panel-body" >
                <!--<img src="../img/Tabela.PNG" width="100%"/>-->
                <table class="table table-sm table-responsive table-striped" id="dataTables-contratos">
                    <thead>
                    <tr>
                        <th name="ctonum">Número</th>
                        <th>Início</th>
                        <th>Prazo</th>
                        <th>Vincendo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each contratos}}
                        <tr class="odd gradeX">
                            <td>{{ ctonum }}</td>
                            <td>{{ cto2dat }}</td>
                            <td>{{ ctopraz }}</td>
                            <td>{{ ctotcon }}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <div class="panel panel-primary">
            <div class="panel-heading panel-heading-audaxys">
                <h4>Pipeline por tipo de proposta</h4>
            </div>
            <div class="panel-body" >
                <div id="morris-donut-chart"></div>
            </div>
        </div>
    </div>
</div>


<script>

    function deleteCliente(){
        console.log("Vou apagar o cliente {{cliente.clinum}}");
        var tokenValue = sessionStorage.getItem("token");
        $('#errmsg-cancel').removeClass("hidden");
        $('#errmsg-header').html("Confirma?");
        $('#errmsg-usermsg').html("O cliente " + {{ cliente.clinum }} + ' vai ser apagado.<br> Deseja continuar?');
        var okbutton = $('#errmsg-button');
        okbutton.removeClass('btn-danger').addClass('btn-success');
        okbutton.unbind().click(function(e){
            var deleteUrl = '/cliente/{{cliente.clinum}}' + "?auth=" + tokenValue;
            $.ajax({
                url: deleteUrl,
                method: 'DELETE',
                cache: false,
                success: function (result) {
                    console.log("SUCESSO");
                    if(result){
                        $('#errmsg-cancel').addClass("hidden");
                        $('#errmsg-header').html("Sucesso");
                        $('#errmsg-usermsg').html("A operação foi concluida com sucesso.<br> O cliente " + {{ cliente.clinum }} + " foi apagado com sucesso");
                        var okbutton = $('#errmsg-button');
                        okbutton.removeClass('btn-danger').addClass('btn-success');
                        okbutton.unbind().click(function(e){
                            e.preventDefault();
                            window.location = "/clientes" + "?auth=" + tokenValue;
                        });
                        $('#errmsg-dialog').modal('show');
                    } else {
                        $('#errmsg-button').unbind();
                        $('#errmsg-cancel').addClass("hidden");
                        window.location.replace('/login');
                    }
                },
                error: function (result) {
                    console.log("ERRO!");
                    $('#errmsg-header').html("Erro");
                    $('#errmsg-usermsg').html("Houve um erro na operação: " + result.responseText);
                    var okbutton = $('#errmsg-button');
                    okbutton.removeClass('btn-success').addClass('btn-danger');
                    okbutton.unbind();
                    $('#errmsg-cancel').addClass("hidden");
                    $('#errmsg-dialog').modal('show');
                }
            });
        });
        $('#errmsg-dialog').modal('show');
    }

</script>

{{#section 'scripts'}}
    <!-- DataTables JavaScript -->
    <script src="../vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../vendor/datatables-responsive/dataTables.responsive.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../js/morris-{{ ficheiro_graficos }}.js"></script>
{{/section}}

{{#section 'footer'}}
    <script>
        $(document).ready(function() {
        var table = $('#dataTables-contratos').DataTable({
            serverSide: true,
            ajax: {
            url: '{{{ dataTableUrl }}}',
            type: 'GET'
            },
            columns: [
            {{#each tblColumns }}
                { data: '{{ this }}' {{#unless @first }} , defaultContent: '' {{/unless}} } {{#unless @last}}, {{/unless}}
            {{/each}}
            ],
            searching: false,
            paging: true,
            lengthChange: false,
            pageLength: 4,
            responsive: true,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese.json'
            }
        });
        });

        window.Parsley.addValidator('validanif', {
            validateString: function(value) {
                var tokenValue = sessionStorage.getItem("token");
                var validaNifUrl = '/api/clientes/valida_nif?nif=' + value + "&auth=" + tokenValue;
                var isValid;
                $.ajax({
                    type: 'GET',
                    url: validaNifUrl,
                    async: false,
                    success: function (result) {
                        console.log(result);
                        isValid = true;
                    },
                    error: function (result) {
                        console.log(result);
                        isValid = false;
                    }
                });
                return isValid;
            },
            messages: {
                'pt-pt': 'Este NIF é inválido',
                'en': 'Invalid fiscal number'
            }
        });

        $(document).ready(function() {

            var frm = $('#modal_form');
            frm.parsley({
                errorClass: "has-error",
                classHandler: function(el) {
                    return el.$element.closest("div");
                },
                errorsWrapper: "<span class='help-block'></span>",
                errorTemplate: "<span></span>"
            });
            // bind 'myForm' and provide a simple callback function
            $('#modal_submit').unbind().click(function () {
                var tokenValue = sessionStorage.getItem("token");
                var urlWithAuth = frm.attr('action') + "?auth=" + tokenValue;
                if(frm.parsley().validate()) {
                    $('#modificaCliente').modal('hide');
                    $.ajax({
                        type: frm.attr('method'),
                        url: urlWithAuth,
                        data: frm.serialize(),
                        cache: false,
                        success: function (result) {
                            console.log(result);
                            if(result.client){
                                $('#errmsg-header').html("Sucesso");
                                $('#errmsg-usermsg').html("A operação foi concluida com sucesso. " + {{{ mensagem_sucesso_modal }}});
                                $('#errmsg-button').removeClass('btn-danger').addClass('btn-success');
                                $('#errmsg-button').unbind().click(function(e){
                                    e.preventDefault();
                                    window.location = {{{ sucess_follow_link }}} + "?auth=" + tokenValue;
                                });
                                $('#errmsg-dialog').modal('show');
                            } else {
                                window.location.replace('/login');
                            }
                        },
                        error: function (result) {
                            console.log(result);
                            $('#errmsg-header').html("Erro");
                            $('#errmsg-usermsg').html("Houve um erro na operação: " + result.responseText);
                            $('#errmsg-button').removeClass('btn-success').addClass('btn-danger');
                            $('#errmsg-dialog').modal('show');
                        }
                    });

                }
            });
        });
    </script>
{{/section}}